body {
  box-sizing: border-box;
  border: 0 none;
  list-style: none outside none;
  background-color: #f4f5f6;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  font-size: 15px;
  line-height: 20px;
  margin: 0 20px 0 20px;
}

/* navbar */
header {
  background-color: red;
  padding: 20px;
}

.date {
  font: 16px/34px "Roboto Condensed", sans-serif;
  color: white;
  display: block;
}

.top-fa {
  position: absolute;
  float: right;
  margin-top: -1.5%;
  margin-left: 4%;
}

.nw-logo {
  width: 400px;
}

.nw-logo path {
  fill: white;
}

.btn-1 {
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 18px;
  padding: 0;
  margin-right: 10px;
}

.btn-2 {
  background-color: #ffe400;
  color: #000;
  font-size: 18px;
  padding-top: 0;
  padding-bottom: 0;
}

.ham-fa {
  display: none;
}

.bottom-nav {
  margin: 0 auto;
  padding: 1em 0;
  max-width: 100%;
  background-color: white;
  padding-right: 2%;
  display: flex;
}

.nav-link {
  color: black;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.border-right {
  border-right: 1px solid hsla(0, 2%, 59%, 0.808);
}

.nav-link:hover {
  color: #f72210;
}

.trending-list {
  padding: 0.6em 2em;
  font-size: 0.95em;
  letter-spacing: -1px;
}

.icons,
.icons a {
  opacity: 0.6;
  font-size: 28px;
  color: #000;
}

.icons i {
  margin: 0 2px;
}

.bottom-img {
  max-width: 100%;
}

.navbar-bottom-text {
  font-size: 14px;
}

.navbar-bottom-text a {
  text-decoration: none;
  color: inherit;
}

.first-col img {
  max-width: 100%;
}

.col-img {
  position: relative;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.col-img img {
  max-width: 100%;
}

.col-img a {
  text-decoration: none;
  color: inherit;
}

.topic {
  background-color: rgba(255, 255, 255, 0.9);
  display: inline;
  color: red;
  width: fit-content;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  padding: 2px 4px;
  font-weight: bold;
}

.insight {
  background-color: rgba(255, 255, 255, 0.9);
  display: inline;
  color: #3581f4;
  width: fit-content;
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  padding: 2px 4px;
  font-weight: bold;
}

.img-container {
  width: 30%;
}

.debate-info {
  margin-left: 10px;
}

.debate-info a {
  font-size: 17px;
  text-decoration: none;
  color: inherit;
}

.vs-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.versus {
  font-weight: bold;
  background-color: black;
  color: white;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  body {
    margin: 0;
  }

  .btn-2 {
    font-size: small;
  }

  .ham-fa {
    font-size: 30px;
    margin-left: 10px;
    color: #f4f5f6a9;
    display: inline;
  }

  .pro-fa {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .pro-fa {
    display: none;
  }

  .nw-logo {
    width: 400px;
  }

  .btn-2 {
    font-size: 12px;
    width: 110px;
    padding: 5px;
  }
}

@media only screen and (max-width: 575px) {
  body {
    margin: 0;
  }

  header {
    width: 110%;
  }

  .btn-1 {
    display: none;
  }

  .btn-2 {
    font-size: 12px;
    width: 110px;
    padding: 5px;
  }

  .ham-fa {
    font-size: 30px;
    color: #f4f5f6a9;
    display: inline;
  }

  .nw-logo {
    width: 120px;
  }

  .pro-fa {
    display: inline-block;
    margin: 0 10px;
    font-size: 1.5rem;
    color: #f4f5f6a9;
  }
}
